<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Azoth Empire App</title>

        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="Welcome to the Azoth Empire!" />
        <meta name="theme-color" content="#16161d" />

        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="Ionic PWA" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <meta http-equiv="x-ua-compatible" content="IE=Edge" />
        <link rel="stylesheet" href="https://unpkg.com/@bulmil/core@latest/dist/css/bulmil.min.css" />
        <link href="<%- version !== 'local' ? baseAssetsUrl : '' %>/build/azoth-empire.css" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="<%- version !== 'local' ? baseAssetsUrl : '' %>/assets/icon/AE.png" />
        <link rel="icon" type="image/x-icon" href="<%- version !== 'local' ? baseAssetsUrl : '' %>/assets/icon/AE.png" />
        <link rel="manifest" href="<%- version !== 'local' ? baseAssetsUrl : '' %>/manifest.json" />

        <script type="module" src="https://unpkg.com/@bulmil/core@latest/dist/bulmil/bulmil.esm.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>

        <script type="module">
            import {
                applyPolyfills,
                defineCustomElements,
            } from 'https://unpkg.com/@bulmil/core@latest/dist/loader/index.es2017.js';
            applyPolyfills().then(() => {
                defineCustomElements(window);
            });
        </script>
        <script type="text/javascript">(function() { window.__env__ = <%- JSON.stringify(env) %>; })();</script>

        <script type="module" src="<%- version !== 'local' ? baseAssetsUrl : '' %>/build/azoth-empire.esm.js"></script>
        <script nomodule src="<%- version !== 'local' ? baseAssetsUrl : '' %>/build/azoth-empire.js"></script>
    </head>

    <body>
        <app-root></app-root>
    </body>
</html>
